<div class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="/logo180.png"
    srcset="/logo512.png 2x"
    alt="WTRBC Logo"
    width="180"
    height="180"
  />
  <h1 class="display-5 fw-bold text-wtrbc bg-wtrbc-contrast">
    Western Thrianta Rabbit Breeders Club
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to the World of American Thrianta Rabbits!</p>
  </div>
</div>
